@import "tokens.css";
@import "utilities.css";
@import "components.css";

body {
  font-family: system-ui, sans-serif;
  font-size: var(--text-base);
  background: var(--color-gray-100);
  color: var(--color-black);
}
